__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
*.log
.gitignore
README.md
Dockerfile
.dockerignore
docs/